.main div{
  display: none;
}


.sidebar img {
  height: 200px;
  width: 200px;
  box-shadow:5px 5px 5px 5px black;
  margin: 10px;
  transition-duration: 3s;

}
.sidebar img:hover {
  height: 300px;
  width: 300px;
  margin: 20px;
  transition-duration: 3s;
}

.sidebar {
  text-align: center;
}

.main img {
  width: 700px;
  height: 500px;
  box-shadow:10px 5px 3px 3px black;

}
.main p {
  text-align: center;
  font-size: 40px;
}
.main div{
  text-align: center;
}
